{% extends 'base.html.twig' %}

{% block title %}Se connecter
{% endblock %}

{% block body %}

	<main role="main" class="col-lg-4 container mt-3">

	{{parent()}}
		<div class="justify-content-center">
			<form method="post">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				<h1 class="h3 my-3 font-weight-normal">Se connecter</h1>
				<label for="inputPseudo">Pseudo</label>
				<input type="text" value="" name="pseudo" id="inputPseudo" class="form-control" autocomplete="username" required autofocus>
				<label for="inputPassword">Mot de passe</label>
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

				<input
				type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				{#
				        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
				        See https://symfony.com/doc/current/security/remember_me.html
				
				        <div class="checkbox mb-3">
				            <label>
				                <input type="checkbox" name="_remember_me"> Remember me
				            </label>
				        </div>
				    #}

				<button class="btn btn-lg btn-info mt-3" type="submit">
					Se connecter
				</button>
			</form>

		</div>

	</main>
{% endblock %}
