<form method="post" action="{{ path('moteurs_delete', {'id': moteur.id}) }}" onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ moteur.id) }}">
    <button class="btn btn-danger"> <i class="fa fa-trash"></i> Supprimer</button>
</form>