{% extends 'base.html.twig' %}

{% block title %}Ajouter une aide à la conduite
{% endblock %}

{% block body %}

	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 p-4">
		<div class="col-12 mb-3">
			<h1>Ajouter une aide à la conduite</h1>
			<a href="{{ path('aides_conduite_index') }}" class="btn btn-info">
				<i class="fa fa-arrow-left"></i>
				Retour à la liste</a>
		</div>

		<div class="container mt-2">
			{{ include('aides_conduite/_form.html.twig') }}
		</div>

	{% endblock %}
