{% extends 'base_front.html.twig' %}

{% block meta %}
  		<meta name="description" content="{{page.metadescr}}">
	  	<meta name="keywords" content="{{page.metakw}}">  
{% endblock %}

{% block title %}{{page.libPage}}{% endblock %}

{% block body %}
    <main class="pb-5 mb-5 position">

        <div class="container">
            <script src="https://apps.elfsight.com/p/platform.js" defer></script>
        <div class="elfsight-app-268d62fd-9283-45f5-a1e2-f258b6c26c89"></div>
        </div>

    </main>
{% endblock %}
