{% extends 'base_front.html.twig' %}

{% block body %}Erreur 500{% endblock %}

{% block body %}
	<main role="main" class="col-md-6 ml-sm-auto col-lg-6 px-md-4 mt-5 mx-auto position">
		<div class="chartjs-size-monitor error px-3">
			<h1 class="error pb-3">Erreur 500 - Erreur interne serveur</h1>
			<p class="error">Le serveur a rencontré une erreur interne qui l’a empêché de satisfaire votre demande.</p>
			<p class="error">Merci de recharger la page ultérieurement.</p>
			<div class="error text-center">
				<i class="fa fa-angellist"></i>
				<i class="fa fa-motorcycle"></i>
			</div>
		</div>
	</main>>
{% endblock %}
