{% extends 'base_front.html.twig' %}

{% block body %}Erreur 404{% endblock %}

{% block body %}

    <main role="main" class="col-md-6 ml-sm-auto col-lg-6 px-md-4 mt-5 mx-auto position">
        <div class="chartjs-size-monitor error px-3">
            <h1 class="error pb-3">Erreur 404 - Page introuvable</h1>
            <p class="error">La page demandée n'a pas été trouvée. </p>
            <div class="error text-center">
                <i class="fa fa-angellist"></i>
                <i class="fa fa-motorcycle"></i>
            </div>
        </div>
    </main>
    {% endblock %}